<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sj.customer.company.mapper.CompanyMapper">
    <!--添加公司信息-->
    <insert id="add">
        INSERT INTO `tab_company`(`id`,`cname`,`sid`,`iso_path`,`iso`,`create_time`,`spwd`)
        VALUES(#{id},#{cname},#{sid},#{iso_path},#{iso},now(),#{spwd});
    </insert>
    <!--根据id查询公司信息-->
    <select id="selectById" resultType="com.sj.customer.company.demain.Company">
        SELECT * FROM tab_company where id = #{id};
    </select>

    <select id="selectall" resultType="com.sj.customer.company.demain.Company">
      SELECT * FROM jg2.tab_company;
    </select>







</mapper>